<div id="myhome">
  <div id="my_container">

    <%= render :partial => "portal_contents" %>
    <%= render :partial => "portal_navigations" %>

  </div>
</div>
<div style="font-size: 80%; text-align: right; margin-top: 10px; clear: both;">
</div>

