<br/>
<center>
  <% display_round_box(:width => "450px", :height => "300px", :color => "#ECEBE1") do %>
    <table align="center" style="margin: 0px; padding: 0px; width: 430px; height: 300px; background-color: rgb(255, 255, 255);">
      <tbody>
        <tr>
          <td valign="middle" align="center">
            <div style="color: red; font-size: 160%; line-height: 1.2;"><%= page_title %></div>
            <p>
              <%= render body_template %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</center>
