<% if logged_in? && current_user.friend_user?(displayed_user) %>
  <ul id="friend_menu">
    <% Mars::UI.instance.friend_menus.each_with_index do |part, i| %>
      <li class="<%= "first" if i == 0 %>">
        <%= part.display(self) %>
      </li>
    <% end %>
  </ul>
<% end %>
