<center>
  <% display_round_box(:width => "540px") do %>
    <div class="base_data" style="text-align:center">
      <%= render :partial => profile_header_partial %>
    </div>
  <% end %>
</center>
  
