<div style="padding:10px;text-align:center;">
  ※他のメンバーから見たあなたのページはこのようになります。<br/>
  (URLは <%= user_url(current_user) %> です。)<br/>
  プロフィールを変更する場合は[<%= link_to "プロフィールの編集", edit_user_path(current_user) %>]より行えます。<br/>
</div>
