<center>
  <div class="base_data">
    [<%= link_to "管理者による招待", new_invite_path %>]
  </div>
  <% display_round_box(:width => "400px") do %>
    <% form_for(@invite, :url => admin_invites_path, :html => { :method => :get}) do |f| %>
      <table class="content_box_bg" style="width:100%;">
        <tr>
          <td>
            Email:
          </td>
          <td>
            <%= f.text_field :email, :size => 30 %>
          </td>
          <td>
            <%= f.submit "検索" %>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>
  <br/>
  <%= render :partial => "invites" %>
</center>
